
{% extends 'base.html' %} {% load bootstrap5 %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kilimo High School</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'update'%}">Add Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'oneA'%}">Form 1A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'oneB'%}">Form 1B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'oneC'%}">Form 1C</a>
        </li>
       
      </ul>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                        <input class="form-control my-2 my-sm-0 search-input" name="name" type="search" placeholder="Search Students" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>

<h3 style="text-align: center;margin-top: 12px;">All Our Students</h3>

<div class="container">
  
  <div class="row">
     
      
    {% for stu in students %}

    <div class="col-md-4">
    
      <div class="card" style="margin-bottom: 12px">
        {% if stu.photo %}
      
        <img class="card-img-top"src="{{MEDIA_URL}}{{stu.photo.url}}" alt="Card image cap" style="width: 350px; height: 240px"
        />
        {% endif %}
        


      

        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Oldenburg', cursive;
              font-weight: bolder;
              font-size: 1.5em;
              color: brown;
            "
          >
            {{stu.name}}
          </h5>
          <p class="card-text">{{stu.stream}}</p>
        
        </div>

        <div class="card-body">
          <a
            href="{% url 'student-det' stu.id%}"
            target="_blank"
            style="font-family: 'Nosifer', cursive; color: brown"
            >Student Information</a>
    


          <hr />

          <button class="btn btn-info btn-sm">
            <a href="{% url 'stu-update' stu.id%}">Update Information</a>
            
          </button>
          <button class="btn btn-danger btn-sm">
            <a href="{% url 'delete' stu.id%}">Delete Student</a>

          </button>
        </div>
      </div>
    </div>
    {% endfor %}
   
  </div>
</div>



{% endblock %}
