{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kilimo High School</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'update'%}">Update</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>

<h3 style="text-align: center;margin-top: 12px;">All Our Students</h3>

<div class="container">
  <div class="row">
     
      
    {% for stu in students %}

    <div class="col-md-4">
      <div class="card" style="margin-bottom: 12px">
        <img
          class="card-img-top"
          src="https://media.istockphoto.com/photos/portrait-of-cool-teenager-with-white-sunglasses-picture-id1284906731?b=1&k=20&m=1284906731&s=170667a&w=0&h=jLRfqFvUvN_ikE2ni2mekYpFHNOviCxDc1ZdW0GhJj4="
          alt="Card image cap"
          style="width: 350px; height: 240px"
        />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Oldenburg', cursive;
              font-weight: bolder;
              font-size: 1.5em;
              color: brown;
            "
          >
            {{stu.name}}
          </h5>
          <p class="card-text">{{stu.stream}}</p>
        </div>

        <div class="card-body">
          <a
            href="{% url 'student-det' stu.id%}"
            target="_blank"
            style="font-family: 'Nosifer', cursive; color: brown"
            >Student Information</a
          >
    


          <hr />

          <button class="btn btn-info btn-sm">
            <a href="{% url 'update'%}">Add Student</a>
            
          </button>
          <button class="btn btn-danger btn-sm">
            <a href="{% url 'delete' stu.id%}">Delete Student</a>

          </button>
        </div>
      </div>
    </div>
    {% endfor %}
   
  </div>
</div>
<div class="container">
<h4 style="text-align: center;">Our Streams</h4>
<div class="row">


    {% for str in streams%}
    <div class="col-md-4">

    
      <button class="btn btn-outline-dark"><a href="">{{str.title}}</a></button>
      </div>

    {% endfor %}
</div>
</div>


{% endblock %}
