{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>


    <div class="col-md-6 offset-md-3 bg-white p-3">
        <h3 style="text-decoration: underline;">Add New Student</h3>

            <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{form |crispy }}
            <hr>

            <button type="submit "class= "btn btn-success" >Submit</button>
    
        </form>
       
        </div>
        
    </div>
</div>




{% endblock %}